@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@200&family=Caramel&family=Creepster&family=Diplomata+SC&family=Pacifico&family=Roboto:wght@500&family=Rubik+80s+Fade&display=swap");
body {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(205, 230, 116, 0.575) 0%,
    rgba(253, 187, 45, 0.4290091036414566) 100%
  );
  /*background-image: url("./gg.png");*/
}
#lary {
  font-family: "caramel";
  color: rgb(15, 15, 240);
  text-align: center;
  font-size: 70px;
  margin-top: 10px;
}
#nav {
  /* border: 1pxsolid rgb(216, 20, 20);*/
  width: 600px;
  height: 60px;
  margin-left: 480px;
  margin-top: 20px;
  font-size: 30px;
  padding-left: 10px;
  /* padding: 5px;*/
}
ul > li > a {
  color: rgb(251, 63, 101);
  color: radial-gradient(
    circle,
    rgba(251, 63, 101, 1) 0%,
    rgba(246, 42, 197, 1) 62%
  );
  text-decoration: none;
  font-family: "caramel";
}
#nav > li {
  padding: 5px;
}

ul > li > a:hover {
  color: rgb(6, 117, 52);
  font-size: 60px;
}
#imga {
  width: 1280px;
  height: 400px;
  padding-left: 30px;
  border-radius: 20px;
  margin-top: 2px;
}

#youtube {
  background: rgb(206, 67, 67);
  color: brown;
  padding: 10px;
  text-decoration: none;
  font-family: "Pacifico";
  margin-right: 30px;
}
#insta {
  background: violet;
  color: blueviolet;
  padding: 10px;
  text-decoration: none;
  font-family: "Pacifico";
}
.title {
  font-family: "caramel";
  font-size: 50px;
  color: rgb(42, 165, 52);
  margin-top: 2px;
}
li {
  color: rgb(13, 13, 202);
  font-family: "Pacifico";
}
p {
  color: rgb(13, 13, 202);
  font-family: "Pacifico";
}

h2 {
  color: rgba(255, 0, 0, 0.507);
  font-family: "caramel";
}
label {
  color: rgb(13, 13, 202);
  font-family: "Pacifico";
}

.tt {
  color: rgb(13, 13, 202);
  font-family: "Pacifico";
}
#bt {
  color: rgba(255, 0, 0, 0.507);
  width: 200px;
  font-family: "caramel";
  font-size: 30px;
}
